.rainbow-br{
    position: relative;
    width: 100%;
    height: 3px;
    background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
    margin-bottom: 2rem;
    border-radius: 20px;
}
.rainbow-br::after{
    content: "";
    width: 100%;
    height: 4px;
    background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
    filter: blur(24px);
    position: absolute;
    inset: -.1em;
    border-radius: 10px;
}
.n-link{
    list-style: none;
    color: black;
}
.n-link-dark{
    list-style: none;
    color: rgb(255, 255, 255);
}
.HomePageContainer{
    width: 100%;
    height: 100%;
    margin-top: 5rem;
}
.Xbox-Section{
    background-color: #fff;
    width: 100%;
    height: 670px;
    padding: 1.2rem;
    border-radius: 0.2rem;
    margin: 4rem 0;  
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.Xbox-Section-dark{
    background-color: var(--darktheme-background1);
    width: 100%;
    height: 670px;
    padding: 1.2rem;
    border-radius: 0.2rem;
    margin: 4rem 0;  
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.PS4-Section{
    background-color: #fff;
    width: 100%;
    height: 670px;
    padding: 1.2rem;
    border-radius: 0.2rem;
    margin: 4rem 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.PS4-Section-dark{
    background-color: var(--darktheme-background1);
    width: 100%;
    height: 670px;
    padding: 1.2rem;
    border-radius: 0.2rem;
    margin: 4rem 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.PC-Section{
    background-color: #fff;
    width: 100%;
    height: 670px;
    padding: 1.2rem;
    border-radius: 0.2rem;
    margin: 4rem 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.PC-Section-dark{
    background-color: var(--darktheme-background1);
    width: 100%;
    height: 670px;
    padding: 1.2rem;
    border-radius: 0.2rem;
    margin: 4rem 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.Cart{
    width: 280px;
    height: 380px; 
    margin: 0 1rem;
    cursor: pointer;
    margin: auto;
}
.Cart-image{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}
.my-swiper{
    width: 100%;
    height: 100%;
}
.Cart-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    margin-top: 1rem;
}
.Cart-info p{
  font-size: 1rem;
  font-weight: bold;
}
.Cart-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Cart-btn p{
    font-size: 1rem;
    font-weight: bold;
}
.addtocart-btn{
    background-color: var(--main-blue);
    color: #fff;
    width: 150px;
    height: 40px;
    border-radius: 1rem;
    border: none;
    font-size: 1rem;
    margin-top: 1rem;
    cursor: pointer;
}
.myswiper{
    width: 100%;
    height: 95%;
}
.Box-Title{
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
}
.myrating{
    font-size: 1.5rem;
    font-weight: 100;
    margin-top: 0.5rem;
}
.star-icons{
    color: rgb(128, 128, 128);
}
.full-star-icons{
    color: gold;
}
.swiper-pagination-bullet{
    background-color: rgb(182, 182, 182);
    width: 10px;
    height: 10px;
}
.swiper-pagination-bullet-active{
    background-color: var(--main-blue);
}
.qestions-section{
    background-color: #fff;
    border-radius: 0.2rem;
    padding: 1.5rem;
    padding-bottom: 5rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-bottom: 5rem;
}
.qestions-section-dark{
    background-color: var(--darktheme-background1);
    border-radius: 0.2rem;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.356);
    margin-bottom: 5rem;
    padding-bottom: 5rem;
}
.question-img{
    object-fit: cover;
    width: 500px;
    height: 700px;
}
.qustion-text-section{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}
.text{
    margin-top: 1rem;
}
.title{
    font-weight: bold;
}
.add-container{
    width: 100%;
    height: 350px;
    background-color: rgb(43, 69, 153);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.7rem;
}
.add-title{
    font-size: 1.6rem;
}
.add-text{
    font-size: 1.1rem;
    font-weight: bold;
    color: #fff;
}
.add-icon{
    font-size: 3rem;
    color: #fff;
}
@media (min-width: 0px) and (max-width: 479px) {
    .qestions-section{       
        display: flex;
        flex-direction: column;
        justify-content: center;      
        align-items: center;
    }
    .qestions-section-dark{
        display: flex;
        flex-direction: column;
        justify-content: center;     
        align-items: center;
        
    }
    .add-title{
        font-size: 1rem;
    }
    .question-img{
        object-fit: cover;
        width: 300px;
        height: 400px;
    }
    .Cart{
        width: 220px;
        height: 380px; 
    }
}
@media (min-width: 480px) and (max-width: 768px) {
    .qestions-section{       
        display: flex;
        flex-direction: column;
        justify-content: center;      
        align-items: center;
    }
    .qestions-section-dark{
        display: flex;
        flex-direction: column;
        justify-content: center;     
        align-items: center;
        
    }
    .add-title{
        font-size: 1.1rem;
    }
    .question-img{
        object-fit: cover;
        width: 400px;
        height: 500px;
    }
    .Cart{
        width: 240px;
        height: 380px; 
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .qestions-section{       
        display: flex;
        flex-direction: column;
        justify-content: center;      
        align-items: center;
    }
    .qestions-section-dark{
        display: flex;
        flex-direction: column;
        justify-content: center;     
        align-items: center;
        
    }
    .add-title{
        font-size: 1.1rem;
    }
    .Cart{
        width: 250px;
        height: 380px; 
    }
}
@media (min-width: 480px) and (max-width: 768px) {
    .qestions-section{       
        display: flex;
        flex-direction: column;
        justify-content: center;      
        align-items: center;
    }
    .qestions-section-dark{
        display: flex;
        flex-direction: column;
        justify-content: center;     
        align-items: center;
        
    }
    .add-title{
        font-size: 1rem;
    }
}